mixin sGoals(data)
	// start sGoals
	+b.SECTION.sGoals.section#sGoals&attributes(attributes)
		+b.section-title
			h2 Цели и задачи
			p #[span Миссия Консорциума ] - объединение российских производителей для выработки консолидированных инициатив по&nbsp;развитию производства медицинских изделий в&nbsp;Российской Федерации
		+e.list
			h3 Цели деятельности Консорциума:
			+e.row.row
				mixin item(img, text)
					.col-sm-6.col-lg-4
						+e.item
							+img(`img/svg/${img}`)
							p!= text
				+item('coat-of-arms.svg' ,'Участие в&nbsp;нормативно-правовом совершенствовании механизма применения национального режима при осуществлении государственных и&nbsp;муниципальных закупок')
				+item('sGoals-2.svg', 'Организация технологической кооперации производителей медицинских изделий, комплектующих, компонентов для их&nbsp;производства')
				+item('sGoals-3.svg', 'Формирование характеристик медицинских изделий, необходимых для удовлетворения потребностей отечественного здравоохранения и&nbsp;их&nbsp;согласования с&nbsp;заинтересованными участниками рынка')
				+item('sGoals-4.svg', 'Стандартизация медицинских изделий, компонентной базы их&nbsp;производства и&nbsp;расходных материалов.')
				+item('sGoals-5.svg', 'Создание условий для увеличения доли отечественной медицинской техники и&nbsp;расходных материалов на&nbsp;внутреннем рынке')
				+item('sGoals-6.svg', 'Поддержка в&nbsp;развитии условий для экспорта медицинских техники')
		+e.content
			h3 Задачи деятельности Консорциума:
			mixin list(title, text, list=true, ...items)
				+e.list-item
					h6!= title
					if text
						p!= text
					if list
						ul
							each item in items
								li!= item
							block
			+e.list-item
				h6 Совершенствование нормативно-правового регулирования обращения медицинских изделий на&nbsp;территории Российской Федерации:
				ul
					li Подготовка предложений в&nbsp;профильные Федеральные органы исполнительной власти Российской Федерации.
					li Формирование перечня требований к&nbsp;промышленной продукции, производимой на&nbsp;территории Российской Федерации, утвержденных #[a(href="#") Постановлением Правительства Российской Федерации от&nbsp;17.07.2015 &#8470;&nbsp;719]
					li Поэтапное включение информации об&nbsp;отечественной продукции в&nbsp;Государственную информационную систему промышленности и&nbsp;использование механизма #[a(href="#") Постановления Правительства от&nbsp;10.07.2019 &#8470;&nbsp;878 для ограничения поставки импортной продукции]
					li Участие в&nbsp;подготовке и&nbsp;реализации проекта #[a(href="#") &laquo;Стратегии развития медицинской промышленности Российской Федерации на&nbsp;период до&nbsp;2030&nbsp;года&raquo;]
			+list('Содействие в&nbsp;области развития производственной базы и&nbsp;реализации отечественной продукции на&nbsp;внутреннем и&nbsp;внешнем рынках (продвижение и&nbsp;импортозамещение медицинских изделий)', '', list, 'Участие в&nbsp;создании условий для увеличения доли отечественной медицинской техники и&nbsp;расходных материалов, востребованных на&nbsp;внутреннем и&nbsp;внешнем рынках', 'Разработка членами рабочих групп Консорциума стратегического проекта плана по&nbsp;оснащению и&nbsp;переоснащению медицинских учреждений отечественной медицинской техникой для субъектов Российской Федерации', 'Содействие Минздраву России в&nbsp;реализации задач, утвержденных распоряжением Правительства Российской Федерации от&nbsp;6&nbsp;октября 2021&nbsp;г. &#8470;&nbsp;2816-р &laquo;Перечень инициатив социально-экономического развития Российской̆ Федерации до&nbsp;2030&nbsp;года&raquo;, в&nbsp;которое включена инициатива &laquo;Медицинская наука для человека&raquo;', 'Создание в&nbsp;рамках деятельности Консорциума системы технологической кооперации с&nbsp;привлечением отечественных технологических лидеров в&nbsp;смежных отраслях', 'Содействие постановке на&nbsp;производство оборудования и&nbsp;расходных материалов к&nbsp;нему в&nbsp;рамках Консорциума с&nbsp;привлечением производственного ресурса предприятий оборонно-промышленного комплекса (в&nbsp;рамках программы диверсификации в&nbsp;интересах реализации Национальных проектов, в&nbsp;соответствии с&nbsp;Указом Президента РФ &#8470;&nbsp;204 от&nbsp;07.05.2018 &laquo;О&nbsp;национальных целях и&nbsp;стратегических задачах развития Российской Федерации на&nbsp;период до&nbsp;2024&nbsp;года&raquo;)', 'Организация взаимодействия предприятий оборонно-промышленного комплекса, специализирующихся на&nbsp;разработке и&nbsp;производстве электронной компонентной базы с&nbsp;производителями отечественной медицинской техники', 'Обеспечение взаимодействия производителей отечественной медицинской техники с&nbsp;якорными заказчиками', 'Участие в&nbsp;реализации &laquo;дорожной карты&raquo; &laquo;Национальная технологическая инициатива &laquo;Хелснет&raquo; от&nbsp;20&nbsp;декабря 2016&nbsp;года, определяющей долгосрочные технологические тенденции рынка до&nbsp;2035&nbsp;года:')
				ol
					li Цифровая медицина, фокусом которой является развитие телемедицины
					li Персональные медицинские помощники
					li Биомеханика (биоматериалы), включая создание экзоскелетов, роботизацию, печать органов на&nbsp;3d-принтерах для лечения онкологических и&nbsp;сердечно-сосудистых заболеваний
					li Превентивная медицина, осуществляющая раннюю диагностику заболеваний посредством повышения технологичности оборудования для in-vitro
					li Медицинская генетика, которая обуславливает спрос на&nbsp;оборудование для in-vitro диагностики, и&nbsp;позволяет контролировать генные мутации.
			+list('Систематизация перечней данных об&nbsp;объектах медицинских изделий для создания единого шаблона описания закупки их&nbsp;государственными и&nbsp;муниципальными заказчиками', '', list, 'Участие в&nbsp;разработке единой сквозной системы кодировки медицинских изделий ОКДП-2-НКМИ-КТРУ для идентификации типов изделия.', 'Организация работы по&nbsp;связке характеристик КТРУ с&nbsp;типовыми позициями по&nbsp;оснащению медицинских организаций, предусмотренных в&nbsp;Стандартах оснащения Минздрава России', 'Соотнесение информации платформы ГИСП из&nbsp;раздела медицинская промышленность с&nbsp;существующим КТРУ', 'Участие в&nbsp;разработке типового контракта полного жизненного цикла медицинских изделий')
			+list('Содействие в&nbsp;предоставлении инвестиционной и&nbsp;организационной поддержки отечественным производителям медицинских изделий', '', list, 'Подготовка и&nbsp;внесение сквозных проектов в&nbsp;Минпромторг России для поддержки и&nbsp;развития высокотехнологичного производства отечественной промышленной продукции на&nbsp;предоставление финансовой и&nbsp;организационной поддержки', 'Формирование перечня инвестиционных проектов, инициируемых предприятиями-участниками Консорциума, реализация которых потенциально возможна с&nbsp;использованием финансовых инструментов Государственной корпорации развития ВЭБ.РФ при условии соответствия проектов требованиям ВЭБ.РФ', 'Формирование перечня инвестиционных проектов, инициируемых предприятиями-участниками Консорциума, реализации которых потенциально возможна с&nbsp;использованием финансовых инструментов ПАО &laquo;Промсвязьбанк&raquo; (ПСБ) и&nbsp;АО&nbsp;АКБ &laquo;Новикомбанк&raquo; при условии соответствия проектов требованиям ПСБ.', 'одействие российским предприятиям во&nbsp;внедрении технологических решений мирового уровня с&nbsp;целью достижения конкурентоспособности отечественной продукции, а&nbsp;также содействие формированию и&nbsp;реализации на&nbsp;территории&nbsp;РФ проектов, направленных на&nbsp;локализацию производства технологий')
			+list('Создание единой платформы медицинских изделий, производимых членами-участниками Консорциума.', 'Формирование базы данных потребностей системы здравоохранения федерального и&nbsp;регионального уровней в&nbsp;текущих разработках и&nbsp;готовых решениях отечественных производителей, предложений поставщиков, материалов и&nbsp;комплектующих.', false)
			+list('Открытость Консорциума для позиционирования отечественной медицинской промышленности в&nbsp;практическом применении:', '', list, 'Повышение осведомленности научно-медицинского сообщества о&nbsp;качестве отечественной медицинской техники и&nbsp;медицинской промышленности.', 'Организация или участие в&nbsp;образовательных форумах с&nbsp;участием представителей органов государственной власти по&nbsp;линии здравоохранения, промышленности, малого и&nbsp;среднего бизнеса, ОПК, производителей техники, партнеров Консорциума, научного сообщества и&nbsp;представителей НИОКРов')
	// end sGoals